#ignore all 
*

!README.md

!.gitignore

!make_installs.sh
!make_symlinks.sh

!nvim/
nvim/*
!nvim/init.lua
!nvim/lazy-lock.json

!tmux/
tmux/*
!tmux/tmux.conf

!zsh/
zsh/*
!zsh/.zshrc
!zsh/.p10k.zsh

!alacritty/
alacritty/*
!alacritty/alacritty.toml

!i3/
i3/*
!i3/load_screen_layout.sh
!i3/config

!polybar/
polybar/*
!polybar/launch.sh
!polybar/config.ini

!wallpapers/
wallpapers/*
!wallpapers/wallpaper1.jpeg
!wallpapers/wallpaper2.png

!.Xmodmap

!screenlayout
screenlayout/*
!screenlayout/laptop_only.sh
!screenlayout/external_only.sh
!screenlayout/dual.sh

!rofi
rofi/*
!rofi/config.rasi

!lf
lf/*
!lf/lfrc

!aider
aider/*
!aider/.aider.conf.yml

.env
