[Desktop Entry]
Name=Jupyter Lab
Comment=Interactive computing environment
Exec=jupyter-lab %F
Icon=jupyter
Terminal=false
Type=Application
Categories=Development;Science;Education;
MimeType=application/x-ipynb+json;
